/*
Title: Main
Description: This file is the mains vars, uikit, reset and comportement of my portfolio website css
*/

/* RESET */

*, ::after, ::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* Vars */

:root{

    /* Spacing */

    --page-side-padding: 2rem;
}

/* Main comportement & UI Kit */

:root{
    font-family: monospace;
    font-size:  1.1em;
}

#app{
    display: grid;
    grid-template-rows: 75px 1fr 75px;
    min-height: 100vh;
    place-items: center;
}